<html>
<head>
 <link rel="stylesheet" href="css/save.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<style>
  
.button2 {
    background-color: #FCDC74;
    color: #071E3D;
    border: 2px solid #FCDC74;
  }
  
  .button2:hover {
    background-color: white; 
    color: #071E3D; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

</style>
</head>



<body>
  <form method="get" action="/home">
    <button type="submit" class="button button2" id="savedtasks">Back Home</button>
  <div id="saved">
    <ul>
    <% for(var i=0; i<data.length; i++) {%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= data[i].title %></h5>
          <p class="card-text"><%= data[i].description %></p>
          <form method="get" action="/delete">
            <button type="submit" class="button button2" id="savedtasks">Delete</button>
        </div>
      </div>
    <% } %>
  </ul>
  </div>
</body>
</html>

